<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../bootstrap.min.css">
  <title>Stories</title>
</head>
<body>
  <div id="app" class="container">
    <h1>Let's hear some stories!</h1>
    <div class="pagination">
      <button @click="fetchStories(pagination.prev_page_url)"  :disabled="!pagination.prev_page_url" class="btn btn-default">Previous</button>
      <span>Page {{ pagination.current_page }} of {{ pagination.last_page }}</span>
      <button @click="fetchStories(pagination.next_page_url)" :disabled="!pagination.next_page_url" class="btn btn-default">Next</button>
    </div>
    <table class="table table-stripped">
      <tr>
        <th>#</th>
        <th>Plot</th>
        <th>Writer</th>
        <th>Upvotes</th>
        <th>Actions</th>
      </tr>
      <tr v-for="(story, index) in stories" :each-story="story" :key="index" is="story"></tr>
    </table>
    <p class="lead">Here's a list of all your stories.
      <button @click="createStory()" class="btn btn-primary">
        Add a new one?
      </button>
    </p>
  </div>
  <template id="story-template">
    <tr>
      <td>{{ eachStory.id }}</td>
      <td>
        <input v-if="eachStory.editing" v-model="eachStory.plot" class="form-control"></input>
        <span v-else>{{ eachStory.plot }}</span>
      </td>
      <td>
        <input v-if="eachStory.editing" v-model="eachStory.writer" class="form-control"></input>
        <span v-else>{{ eachStory.writer }}</span>
      </td>
      <td><span>{{ eachStory.upvotes }}</span></td>
      <td>
        <div v-if="!eachStory.editing" class="btn-group">
          <button class="btn btn-primary" @click="upvoteStory(eachStory)">Upvote</button>
          <button class="btn btn-default" @click="editStory(eachStory)">Edit</button>
          <button class="btn btn-danger" @click="deleteStory(eachStory)">Delete</button>
        </div>
        <div class="btn-group" v-else>
          <!--If the story is an old one then we want to update it
          TIP: if the story is taken from the db then it will have an id-->
          <button class="btn btn-primary" v-if="eachStory.id" @click="updateStory(eachStory)">Update Story</button>
          <!--If the story is new we want to store it-->
          <button class="btn btn-success" v-else @click="storeStory(eachStory)">Save New Story</button>
          <button class="btn btn-default" @click="eachStory.editing=false">Cancel</button>
        </div>
      </td>
    </tr>
  </template>
</body>
<script src="../vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    Vue.component('story', {
      template: '#story-template',
      props: ['eachStory'],
      methods: {
        upvoteStory: function(eachStory) {
          eachStory.upvotes++;
          axios.patch('http://localhost:3000/api/stories/' + eachStory.id, eachStory);
        },
        deleteStory: function(eachStory) {
          //var index = vm.stories.indexOf(eachStory);
          var index = this.$parent.stories.indexOf(eachStory);
          //vm.stories.splice(index, 1);
          this.$parent.stories.splice(index, 1);
          axios.delete('http://localhost:3000/api/stories/' + eachStory.id);
        },
        editStory: function(eachStory) {
          eachStory.editing = true;
        },
        updateStory: function(eachStory) {
          axios.patch('http://localhost:3000/api/stories/' + eachStory.id, eachStory);
          eachStory.editing = false;
        },
        storeStory: function (eachStory) {
          axios.post('http://localhost:3000/api/stories/', eachStory).then(function (response){
            vm.fetchStories();
            Vue.set(eachStory, 'id', response.data.id);
            eachStory.editing = false;
          });
        }
      }
    });

var vm = new Vue({
          el: '#app',
          data: {
            stories: [],
            pagination: {
              current_page: null,
              last_page: null,
              next_page_url: null,
              prev_page_url: null
            }
          },
          methods: {
            createStory: function () {
              var newStory = {
                "plot": "",
                "upvotes": 0,
                "editing": true
              };
              this.stories.push(newStory);
            },
            fetchStories: function(page_url) {
              var vm = this;
              page_url = page_url || 'http://localhost:3000/api/stories'
              axios.get(page_url).then(function(response){
                //Vue.set(vm, 'stories, response.data'); //gives a warning of not adding data to instance during runtime
                //vm.stories = response.data;
                var storiesReady = response.data.data.map(function(story){
                  story.editing = false;
                  return story;
                });
                vm.makePagination(response.data);
                 vm.stories = storiesReady;
              });
            },
            makePagination: function (data) {
                vm.pagination.current_page = data.current_page;
                vm.pagination.last_page = data.last_page;
                vm.pagination.next_page_url = data.next_page_url;
                vm.pagination.prev_page_url = data.prev_page_url;
            }
          },
          mounted: function() {
            this.fetchStories();
          }
        });
</script>
</html>
